In [161]:
import pandas as pd

In [162]:
# import all 12 csv files into dataframes. One for each month

jan_2019 = pd.read_csv("Sales_January_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
feb_2019 = pd.read_csv("Sales_February_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
mar_2019 = pd.read_csv("Sales_March_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
apr_2019 = pd.read_csv("Sales_April_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
may_2019 = pd.read_csv("Sales_May_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
jun_2019 = pd.read_csv("Sales_June_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
jul_2019 = pd.read_csv("Sales_July_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
aug_2019 = pd.read_csv("Sales_August_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
sep_2019 = pd.read_csv("Sales_September_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
oct_2019 = pd.read_csv("Sales_October_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
nov_2019 = pd.read_csv("Sales_November_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")
dec_2019 = pd.read_csv("Sales_December_2019_formatted.csv", parse_dates = ["Order Date"]).dropna(how = "all")

In [163]:
# check first 5 rows

jan_2019.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234.0,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235.0,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236.0,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237.0,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238.0,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"

In [164]:
# get info on our datasets and trim columns

# january trim
jan_2019.info()
jan_2019["Product"] = jan_2019["Product"].str.strip()
jan_2019["Purchase Address"] = jan_2019["Purchase Address"].str.strip()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9681 entries, 0 to 9706
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9681 non-null   float64
 1   Product           9681 non-null   object
 2   Quantity Ordered  9681 non-null   float64
 3   Price Each        9681 non-null   float64
 4   Order Date        9681 non-null   datetime64[ns]
 5   Purchase Address  9681 non-null   object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 529.4+ KB

In [165]:
# february trim
feb_2019["Product"] = feb_2019["Product"].str.strip()
feb_2019["Purchase Address"] = feb_2019["Purchase Address"].str.strip()

In [166]:
# march trim
mar_2019["Product"] = mar_2019["Product"].str.strip()
mar_2019["Purchase Address"] = mar_2019["Purchase Address"].str.strip()

In [167]:
# april trim
apr_2019["Product"] = apr_2019["Product"].str.strip()
apr_2019["Purchase Address"] = apr_2019["Purchase Address"].str.strip()

In [168]:
# may trim
may_2019["Product"] = may_2019["Product"].str.strip()
may_2019["Purchase Address"] = may_2019["Purchase Address"].str.strip()

In [169]:
# june trim
jun_2019["Product"] = jun_2019["Product"].str.strip()
jun_2019["Purchase Address"] = jun_2019["Purchase Address"].str.strip()

In [170]:
# july trim
jul_2019["Product"] = jul_2019["Product"].str.strip()
jul_2019["Purchase Address"] = jul_2019["Purchase Address"].str.strip()

In [171]:
# august trim
aug_2019["Product"] = aug_2019["Product"].str.strip()
aug_2019["Purchase Address"] = aug_2019["Purchase Address"].str.strip()

In [172]:
# september trim
sep_2019["Product"] = sep_2019["Product"].str.strip()
sep_2019["Purchase Address"] = sep_2019["Purchase Address"].str.strip()

In [173]:
# october trim
oct_2019["Product"] = oct_2019["Product"].str.strip()
oct_2019["Purchase Address"] = oct_2019["Purchase Address"].str.strip()

In [174]:
# november trim
nov_2019["Product"] = nov_2019["Product"].str.strip()
nov_2019["Purchase Address"] = nov_2019["Purchase Address"].str.strip()

In [175]:
# december trim
dec_2019["Product"] = dec_2019["Product"].str.strip()
dec_2019["Purchase Address"] = dec_2019["Purchase Address"].str.strip()

In [176]:
# turn our products into categories to improve performance. 
# keep in mind that this cell was added after finding out there are 19
# unique products across all tables

jan_2019["Product"] = jan_2019["Product"].astype("category")
feb_2019["Product"] = feb_2019["Product"].astype("category")
mar_2019["Product"] = mar_2019["Product"].astype("category")
apr_2019["Product"] = apr_2019["Product"].astype("category")
may_2019["Product"] = may_2019["Product"].astype("category")
jun_2019["Product"] = jun_2019["Product"].astype("category")
jul_2019["Product"] = jul_2019["Product"].astype("category")
aug_2019["Product"] = aug_2019["Product"].astype("category")
sep_2019["Product"] = sep_2019["Product"].astype("category")
oct_2019["Product"] = oct_2019["Product"].astype("category")
nov_2019["Product"] = nov_2019["Product"].astype("category")
dec_2019["Product"] = dec_2019["Product"].astype("category")

In [177]:
# take a look at our distinct product values in all tables
# first, let's concatenate our dataframes into one large one

df_2019 = pd.concat(objs = [jan_2019, feb_2019, mar_2019, apr_2019, may_2019, jun_2019, jul_2019, aug_2019, sep_2019, oct_2019, nov_2019, dec_2019])
df_2019.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234.0,iPhone,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235.0,Lightning Charging Cable,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236.0,Wired Headphones,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237.0,27in FHD Monitor,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238.0,Wired Headphones,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"

In [178]:
# let's check our unique values across all products

df_2019["Product"].unique()
# 19 total products

['iPhone', 'Lightning Charging Cable', 'Wired Headphones', '27in FHD Monitor', 'AAA Batteries (4-pack)', ..., '20in Monitor', '34in Ultrawide Monitor', 'ThinkPad Laptop', 'LG Dryer', 'LG Washing Machine']
Length: 19
Categories (19, object): ['20in Monitor', '27in 4K Gaming Monitor', '27in FHD Monitor', '34in Ultrawide Monitor', ..., 'USB-C Charging Cable', 'Vareebadd Phone', 'Wired Headphones', 'iPhone']

In [179]:
# create products dataframe

products = pd.DataFrame(df_2019["Product"].unique(), columns = ['Product'])
products.head()

                    Product
0                    iPhone
1  Lightning Charging Cable
2          Wired Headphones
3          27in FHD Monitor
4    AAA Batteries (4-pack)

In [180]:
# merge prices

products = products.merge(df_2019, on=['Product'], how='left').drop_duplicates(subset = ["Product"], ignore_index = True)
products = products.drop(["Order ID", "Quantity Ordered", "Order Date", "Purchase Address"], axis = 1)
products.head()

                    Product  Price Each
0                    iPhone      700.00
1  Lightning Charging Cable       14.95
2          Wired Headphones       11.99
3          27in FHD Monitor      149.99
4    AAA Batteries (4-pack)        2.99

In [181]:
# set index for products table

products["Product_Key"] = products.index
products["Product_Key"] = products["Product_Key"] + 1
products.head()

                    Product  Price Each  Product_Key
0                    iPhone      700.00            1
1  Lightning Charging Cable       14.95            2
2          Wired Headphones       11.99            3
3          27in FHD Monitor      149.99            4
4    AAA Batteries (4-pack)        2.99            5

In [182]:
# replace values in our year dataframe with the product key

df_2019["Product"] = df_2019["Product"].map(products.set_index("Product")["Product_Key"])
df_2019.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234.0,1,1.0,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215"
1,141235.0,2,1.0,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035"
2,141236.0,3,2.0,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016"
3,141237.0,4,1.0,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001"
4,141238.0,3,1.0,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301"

In [183]:
# drop our "price each" column from df_2019

df_2019 = df_2019.drop(["Price Each"], axis = 1)

In [184]:
# write our df_2019 and product dim table to csv files

df_2019.to_csv("Sales_2019_Cleaned", encoding = 'utf-8-sig', index = False)
products.to_csv("products", encoding = 'utf-8-sig', index = False)

In [185]:
# And that's it. We've cleaned our data and formatted into 2 tables. Now onto Power BI for visualization